extends layout.pug

block head
  title Books

block content
  h1 Books
  form(action='/books' method='post')
    input#search-input.search-input(type='search' name='search' placeholder='Search...')
    input#search-submit.search-submit(type='submit' value='Search')
  p
    a.button(href='/books/new') Create New Book
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
      each book in books
        - const {id, title, author, genre, year} = book;
        tr
          td
            a(href=`/books/${id}`)= title
          td= author
          td= genre
          td= year
  div.pagination-container
    ul
      - for (var i = 1; i <= numOfPages; i++)
        li
          a(href=`/books?page=${i}`)= i